@use "../utils/" as *;
html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: rem(280);
  font-family: var(--font-rubik);
  background-image: url("../../../images/pattern-bg-mobile.png");

  @include respond-to(sm) {
    background-image: url("../../../images/pattern-bg-desktop.png");
  }
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--very-dark-gray);
}

img {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: contain;
}
